/* 
	Flow Grid System 
   	Author: Thomas Garrison
   	Author URL: www.thomasgwebdesign.com 
*/

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    /* Removes padding behavior on widths */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-size: 16px;
}

[class*="col-"] {
    float: left;
    padding: 15px;
   	width: 100%
}

/* This class is used to create a background of a light gray color for containers. This is mainly used for side panels. */
.panel {
    background-color: #D8D8D8;
}

/* Please make sure when you are using these that the columns inside the row adds up to 12. */



.row:after {
	content: "";
	clear: both;
	display: table;
}

.row {
	max-width: 1140px;
	margin: auto;
}

/* Starting CSS for main content */

.header {
	width: 100%;
	margin-bottom: 2em;
	height: 8em;
	background: #FFA800;
}
.header div {
	width: 50%;
	margin: auto;
	text-align: center;
	font-size: 150%;
	line-height: 5em;
}

nav ul {
	list-style-type: none;

}
 nav ul li {
 	width: 100%;
 	text-align: center;
 	background: #19BBFF;
 	margin-bottom: 5px;
 	padding: 5px;
 }

 nav ul a {
 	text-decoration: none;
 }

@media only screen and (min-width: 600px) and (max-width: 768px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

}

 @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    [class*="col-"]>p {
        float: left;
        padding: 10px;
    }

    .header div {
		width: 50%;
		margin: auto;
		text-align: center;
		font-size: 300% ;
		line-height: 2.5em ;
	}
}

